<%# Alumno Alfonso Martínez Juárez UNIR  %>

<%- include("template/cabecera", {tituloWeb: 'Detalle de mascota'}) %>

  <div class="container">

    <h1>Detalle de la mascota</h1>
    
    <% if (error) { %>
        <%= mensaje %> 
        <a 
            href="/mascotas"
            class="btn btn-dark btn-block my-2"
        >
            Volver
        </a>
    <% } %>

   
        <% if (!error) { %>
            <form id="formularioEditar" data-id="<%= mascota.id %>">
                <input 
                    type="text"
                    value="<%= mascota.nombre %>"
                    class="form-control my-2"
                    name="nombre"
                    id="nombreInput"
                >
                <input 
                    type="text"
                    value="<%= mascota.descripcion %>"
                    class="form-control my-2"
                    name="descripcion"
                    id="descripcionInput"
                >
                <button
                    class="btn btn-warning btn-block"
                    type="submit"
                   
                >
                    Editar
                </button>
            </form>
            <hr>
                    <tr>
   
                    <td>
                        <button
                        class="btn btn-danger btn-sm mt-5"
                        id="btnEliminar"
                        data-id="<%= mascota.id %>"

                    >
                        Eliminar
                        </button>
                    </td>
                </tr>
            </tbody>
          <% } %>
     
  </div>
    
<%- include("template/footer") %>

<script>
        
    const btnEliminar = document.querySelector('.btn-danger')
      btnEliminar.addEventListener('click', async() => {
        console.log(btnEliminar.dataset.id)  
        
        try {
            
            const data = await fetch(`/mascotas/${btnEliminar.dataset.id}`, {
              method: 'delete'
            })
            const res = await data.json()
            console.log(res)
            if(res.estado){
                window.location.href = '/mascotas'
            }else{
                console.log(res)
            }
        } catch (error) {
            console.log(error)
        }
      })
    
      
   const formularioEditar = document.querySelector('#formularioEditar');

    formularioEditar.addEventListener('submit', async(e) => {
    e.preventDefault()

   
    const nombre = formularioEditar.elements['nombre'].value
    const descripcion = document.querySelector('#descripcionInput').value
    const id = formularioEditar.dataset.id 

    try {
        const data = await fetch(`/mascotas/${id}`, {
            method: 'put',
            headers: {
                'Content-Type': 'application/json'
            },
                
            body: JSON.stringify ({nombre: nombre, descripcion: descripcion})
        })
        const res = await data.json()
       
        if(res.estado){
            window.location.href = '/mascotas'
        }else{
            console.log(res)
         }

    } catch (error) {
            console.log(error)
        }      
   

})
    
    </script>